<div class="stations">
<% @search.each do |station| %>
<div class="">
  Name: <%= station[:station_name] %>
  <br>
  Address: <%= station[:street_address] %>
  <br>
  Fuel Type: <%= station[:fuel_type_code] %>
  <br>
  Distance: <%= station[:distance] %>
  <br>
  Access: <%= station[:access_days_time] %>
  <br>
  <br>
</div>
<% end %>
</div>
